html,
body {
  height: 100vh;
  font: menu;
}

body {
  display: flex;
  font-size: 1.25em;
  background: #2a2a2e;
  color: #f9f9fa;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.tab-nav, .tab-nav li {
  list-style: none;
  margin: 0;
}

.tab-nav {
  padding: 0 0.5em;
  margin-bottom: 1em;
}

.tab-nav li {
  display: inline-block;
  margin: 0 1em;
  padding: 0;
}

.tab-nav li:first-child {
  margin-left: 0;
}

.tab-nav li:last-child {
  margin-right: 0;
}

.tab-nav li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: .5em 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  vertical-align: bottom;
}

.tab-nav li a::after {
  content: "";
  transition: transform 1s cubic-bezier(.07,.95,0,1);
  transform: scale(0);
  display: block;
  background: #45a1ff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tab-nav li.selected a {
  color: #45a1ff;
}

.tab-nav li.selected a::after {
  transform: none;
}

.tab-panel:not(.selected) {
  display: none;
}

#sidebar {
  background-color: #38383d;
  min-width: 200px;
  max-width: 400px;
  padding: 2vw;
}

#sidebar h1 {
  margin: 0;
}

#sidebar-toggle {
  display: none;
}

#node-files {
  list-style: none;
  padding: 0;
}

#node-files:empty::after {
  content: "No files";
  opacity: 0.6;
}

#node-files li {
  margin-bottom: 1em;
}

#node-files .file-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#node-files .file-hash {
  display: block;
  font-size: 0.8em;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.25em;
}

#content {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

#messages {
  flex: 1;
  padding: 2vw;
  margin: 0;
  min-height: 0;
}

#messages li {
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,0.12);
  padding-top: 1em;
}

.message-origin {
  border-radius: 2px;
  background: #4a4a4f;
  padding: 2px;
}

.message-id {
  font-size: 0.8em;
  opacity: 0.6;
}

.message-id::before {
  content: " - "
}

.message-contents {
  padding: 2px;
}

#header {
  position: sticky;
  padding: 2vw;
  top: 0;
  border-bottom: 1px solid rgba(255,255,255,0.12);
  background: #2a2a2e;
  z-index: 999;
}

.tab-panel div {
  overflow: auto;
  margin-top: 1em;
}

#message-form div * {
  vertical-align: middle;
}

.text-input {
  box-sizing: border-box;
  background-color: #38383d;
  border-radius: 2px;
  color: inherit;
  border: 1px solid rgba(255,255,255,0.12);
  width: 100%;
  font: inherit;
  padding: 0.5em;
}

.text-input:hover {
  border-color: rgba(255,255,255,0.24);
}

.button,
.select {
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.1);
}

.select {
  -moz-appearance: none;
  color: inherit;
  background-image: url(dropdown.svg);
  background-repeat: no-repeat;
  background-position: center right 5px;
  padding-right: 2em;
}

.button:hover,
.select:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:hover:active,
.select:hover:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.select option {
  color: black;
}

.button:focus,
.select:focus,
.text-input:focus {
  box-shadow: inset 0 0 0 2px #0a84ff, 0 0 0 3px rgba(10, 132, 255, 0.3);
}

.button.primary {
  background: #0060df;
  color: white;
  float: right;
}

.button.primary:hover {
  background: #003eaa;
}

.button.primary:hover:active {
  background: #002275;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  #sidebar {
    border-bottom: 1px solid rgba(255,255,255,0.12);
    max-width: none;
  }

  #sidebar-toggle:not(:checked) ~ #sidebar-contents {
    display: none;
  }
}
